body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background: #f1ede5;
    overflow: hidden;
}

.hidden-div {
    display: none;
}

main {
    height: 100%;
}

