.vote-header {
    height: 150px;
    display: grid;
    grid-template-areas:
    "nft countdown navigation"
    "nft wallet navigation";
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 20px;
}

#selected-nft {
    grid-area: nft;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nft-display .App-logo {
    max-width: 100%;
    height: auto;
}

#contract-timer {
    grid-area: countdown;
    display: flex;
    align-items: center;
    justify-content: center;
}


#connected-wallet {
    grid-area: wallet;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wallet-display {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wallet-display p {
    margin: 0;
    font-weight: bold;
}

#navigation {
    grid-area: navigation;
}

#countdown-endtime {
    margin-bottom: 0;
}

.countdown {
    width: 95%;
    height: 90%;
    background: #eaeaf3;
    border: 2px solid #acacc0;
    border-radius: 15px;
}

.countdown ul {
    padding: 0;
    margin: 0;
}

.countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
.countdown li span {
    display: block;
    font-size: 4.5rem;
}

@media all and (max-width: 768px) {
       
    .countdown li {
      font-size: calc(1.125rem * 0.75);
    }
    
    .countdown li span {
      font-size: calc(3.375rem * 0.75);
    }
  }