.vote-header {
    display: grid;
    grid-template-areas:
    "nft countdown navigation"
    "nft wallet navigation";
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 20px;
}

#selected-nft {
    grid-area: nft;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nft-display .App-logo {
    max-width: 100%;
    height: auto;
    margin-left: 10%;
}

#contract-timer {
    grid-area: countdown;
    display: flex;
    align-items: center;
    justify-content: center;
}


#connected-wallet {
    grid-area: wallet;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wallet-display {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wallet-display p {
    margin: 0;
    font-weight: bold;
}

#navigation {
    grid-area: navigation;
    display: flex;
    justify-content: center;
    align-items: center;
}

#countdown-endtime {
    margin-bottom: 0;
}

.countdown {
    width: 45%;
    height: 90%;
    background: #eaeaf3;
    border: 2px solid #acacc0;
    border-radius: 15px;
}

.countdown ul {
    padding: 0;
    margin: 0;
}

.countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
.countdown li span {
    display: block;
    font-size: 4.5rem;
}

#finish-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: 0 1px 5px 0 #e6e9ef;
    background: var(--blue);
    border-radius: 99px;
    padding: 16px 16px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid black;
}

#finish-btn:hover {
    background: #4c7fd6;
}

@media all and (max-width: 768px) {
       
    .countdown li {
      font-size: calc(1.125rem * 0.75);
    }
    
    .countdown li span {
      font-size: calc(3.375rem * 0.75);
    }
}


@media all and (max-height: 768px) {
    .countdown {
        width: 65%;;
    }   

    .countdown li {
      font-size: calc(1.125rem * 0.55);
    }
    
    .countdown li span {
      font-size: calc(3.375rem * 0.55);
    }
}

@media screen and (max-height: 1080px) {
    .countdown {
        width: 65%;;
    }   

    .countdown li {
      font-size: calc(1.125rem * 1.2);
    }
    
    .countdown li span {
      font-size: calc(3.375rem * 1.2);
    }

    #connected-wallet {
        font-size: 30px;
    }
}